---
layout: page
title: "关于我"
description: "路漫漫其修远兮,吾将上下而求索"
header-img: "img/home-bg-o.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

  <b><strong>个人介绍: </strong></b>

  <p>阿琦目前在杭州工作，一般般，就是芸芸众生中一个普通的打工人，这博客主要内容有阿琦的工作 [Java 相关技术]、生活 [游记、摄影、股市、绘画、八卦]
    等一些文章或笔记总结，定时随机更新，每周至少一篇。</p>

<!--  <p>写博客的目地主要是为了逼自己学习提升个人能力；如果有幸能帮助到你，我会很开心。</p>-->
  <p>我不会运营。</p>

  <p>写不了感人的文字。</p>

  <p>没有耀眼的履历。</p>

  <p>不会吹牛、不会玩套路。</p>

  <p>也想不出吸引眼球的标题。</p>

  <p>主要是为了逼自己学习 提升个人能力。</p>

  <p>如果这里的东西能让你有所收获的话，我会非常开心。</p>

  <p>有人关注当然好，没人关注说明自己的能力有待提高。</p>

  <p> 如果有什么写的不好的地方可以留言板指出。<p>

<!--  简书文章目录<a href="https://www.jianshu.com/u/e53a4c67bf53">👉BY</a>-->
<!--  <br>-->
<!--  <br>-->

  博客园文章目录<a href="https://www.cnblogs.com/uniquezhangqi">👉BY</a>
  <br>

  <p>下面是我微信公众号二维码，可以后台留言，可以加微信私聊。</p>

  <p><img width="200px" height="200px;"
          src="https://tva1.sinaimg.cn/large/0081Kckwgy1gm2ijf3arkj3076076glp.jpg"/></p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
  // get nodes
  var $zh = document.querySelector(".zh");
  var $en = document.querySelector(".en");
  var $select = document.querySelector("select");

  // bind hashchange event
  window.addEventListener('hashchange', _render);

  // handle render
  function _render() {
    var _hash = window.location.hash;
    // en
    if (_hash == "#en") {
      $select.selectedIndex = 1;
      $en.style.display = "block";
      $zh.style.display = "none";
      // zh by default
    } else {
      // not trigger onChange, otherwise cause a loop call.
      $select.selectedIndex = 0;
      $zh.style.display = "block";
      $en.style.display = "none";
    }
  }

  // handle select change
  function onLanChange(index) {
    if (index == 0) {
      window.location.hash = "#zh"
    } else {
      window.location.hash = "#en"
    }
  }

  // init
  _render();
</script>


<!-- Valine 评论框 start -->
{% if site.valine.enable %}
{% include valine_comments.html %}
{% endif %}
<!-- Valine 评论框 end -->

<!-- Gitalk 评论 start  -->
<!--{% if site.gitalk.enable %}-->
<!--&lt;!&ndash; Gitalk link  &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">-->
<!--<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>-->

<!--<div id="gitalk-container"></div>-->
<!--<script type="text/javascript">-->
<!--    var gitalk = new Gitalk({-->
<!--        clientID: '{{site.gitalk.clientID}}',-->
<!--        clientSecret: '{{site.gitalk.clientSecret}}',-->
<!--        repo: '{{site.gitalk.repo}}',-->
<!--        owner: '{{site.gitalk.owner}}',-->
<!--        admin: ['{{site.gitalk.admin}}'],-->
<!--        distractionFreeMode: {-->
<!--    {-->
<!--        site.gitalk.distractionFreeMode-->
<!--    }-->
<!--    },-->
<!--    id: 'about',-->
<!--    })-->
<!--    ;-->
<!--    gitalk.render('gitalk-container');-->
<!--</script>-->
<!--{% endif %}-->
<!-- Gitalk end -->

<!-- disqus 评论框 start  -->
<!--{% if site.disqus.enable %}-->

<!--<div class="comment">-->
<!--    <div id="disqus_thread" class="disqus-thread">-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; disqus 评论框 end &ndash;&gt;-->

<!--&lt;!&ndash; disqus 公共JS代码 start (一个网页只需插入一次) &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--    /* * * CONFIGURATION VARIABLES * * */-->
<!--    var disqus_shortname = "{{site.disqus.username}}";-->
<!--    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";-->
<!--    var disqus_url = "{{site.url}}{{page.url}}";-->

<!--    (function() {-->
<!--        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;-->
<!--        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';-->
<!--        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);-->
<!--    })();-->
<!--</script>-->
<!--&lt;!&ndash; disqus 公共JS代码 end &ndash;&gt;-->
<!--{% endif %}-->



