<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Valine - A simple comment system based on Leancloud.</title>-->
<!--    &lt;!&ndash;Leancloud 操作库:&ndash;&gt;-->
<!--    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>-->
<!--    &lt;!&ndash;Valine 的核心代码库:&ndash;&gt;-->
<!--    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="comment"></div>-->
<!--<script>-->
<!--    var valine = new Valine();-->
<!--    valine.init({-->
<!--        el: '#comment',-->
<!--        appId: 'wwokD6b2cmKtpdsY12h94v8B-gzGzoHsz',-->
<!--        appKey: 'vNkfpewxdInaHsX56b4sJFBu',-->
<!--        placeholder: '在这里写评论-不用登录 ~ ' // [v1.0.7 new]留言框占位提示文字-->
<!--    })-->
<!--</script>-->
<!--</body>-->
<!--</html>-->