{% if page.comments != false %}
<!-- 显示评论 -->
<script>
    var idcomments_acct = 'a3d3df46f86cbbc13fb857c2e83eec9b';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

<!-- 显示评论计数 -->
<script>
    var idcomments_acct = 'a3d3df46f86cbbc13fb857c2e83eec9b';
    var idcomments_post_id;
    var idcomments_post_url;
</script>
<script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
{% endif %}